
.section-title {
  border-bottom: 1px solid #ddd;
}

/* canvas */

.container-col.controller {
  width: 475px;
}

.container-col.controller canvas {
  width: 475px;
  height: 650px;
  margin-top: 20px;
}

/* entry */

.controller-row.coords {
  display: flex;
  padding: 10px;
}

.controller-row.coords .coords-title {
  color: #333;
  font-size: 10px;
  width: 58px;
  padding-top: 10px;
}

.controller-row.coords .coord {
  display: flex;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 112px;
  margin: 0 6px;
}

.controller-row.coords.disabled .coord {
  background: #ddd;
}

.controller-row.coords .coord:focus-within {
  background: #dcf30db2;
}

.controller-row.coords .coord .title {
  color: #333;
  font-size: 10px;
  width: 15%;
  text-align: center;
  margin: 12px 6px;
}

.controller-row.coords .coord input {
  width: 85%;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  text-align: center;
  padding: 8px;
}

.main-actions {
  height: 54px;
  padding-right: 10px;
}

.stroke-action {
  float: right;
  padding: 10px 0;
  border-radius: 4px;
  min-width: 114px;
  text-align: center;
  margin: 6px;
}


/* library */

.container-col.library .strokes {
  overflow: scroll;
  max-height: calc(100% - 200px);
}

.strokes .stroke {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.strokes .stroke .stroke-top {
  min-height: 80px;
  display: flex;
}

.strokes .stroke .stroke-top input.stroke-title {
  padding: 28px;
  width: 30%;
  border: none;
  outline: none;
  font-size: 16px;
}

.strokes .stroke .stroke-top .stroke-actions {
  margin-top: 16px;
  width: 70%;
}

.strokes .stroke .edit-stroke {
  width: 100%;
  min-height: 180px;
}

.strokes .stroke .edit-stroke textarea {
  width: calc(100% - 80px);
  margin: 40px;
  height: 100%;
  font-size: 16px;
  outline: none;
  border: 1px solid #ddd;
  box-shadow: none;
  padding: 10px;
}