
html, body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  position: fixed;
  top: 0; left: 0;
  height: 40px;
  background: #0002;
}

.header .title {
  color: #000;
  padding: 10px 20px;
  width: 50%;
  float: left;
}

.header select {
  float: right;
  height: 26px;
  font-size: 16px;
  margin: 6px;
}

.container {
  width: 1220px;
  height: calc(100% - 40px);
  margin: 40px auto;
  display: flex;
}

.container-col {
  height: 100%;
  margin: 6px;
}

.submittable {
  background: #40972f;
  color: #FFF;
  cursor: pointer;
}

.previewable {
  background: #dfcb1c;
  cursor: pointer;
}

.modifyable {
  background: #3091b8;
  color: #FFF;
  cursor: pointer;
}