<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Shotobot: Calligraphy</title>

  <link rel="stylesheet" href="/static/main.css" />

  <script src="/static/packages/angular.min.js"></script>
  <script src="/static/packages/jquery.min.js"></script>
  <script src="/static/classes/helpers.js"></script>
  <script src="/static/main.js"></script>

</head>

<body ng-app="calligraphy">
  {% block content %}{% endblock %}
</body>

</html>