      <!-- <div class="controller-row button-pad-holder">
        <div class="direction-pad-holder">
          <div class="direction-pad">
            <div class="center-label">x,y</div>
            <div class="circle-button north previewable" ng-click="arrows('north')">
              <div class="arrow"></div>
            </div>
            <div class="circle-button west previewable" ng-click="arrows('west')">
              <div class="arrow"></div>
            </div>
            <div class="circle-button east previewable" ng-click="arrows('east')">
              <div class="arrow"></div>
            </div>
            <div class="circle-button south previewable" ng-click="arrows('south')">
              <div class="arrow"></div>
            </div>
          </div>
        </div>
        <div class="vertical-pad-holder">
          <div class="vertical-pad">
            <div class="center-label">z</div>
            <div class="circle-button north previewable" ng-click="arrows('up')">
              <div class="arrow"></div>
            </div>
            <div class="circle-button south previewable" ng-click="arrows('down')">
              <div class="arrow"></div>
            </div>
          </div>
        </div>
        <div class="direction-pad-holder">
          <div class="direction-pad">
            <div class="center-label">r,phi</div>
            <div class="circle-button north previewable" ng-click="arrows('a-north')">
              <div class="arrow"></div>
            </div>
            <div class="circle-button west previewable" ng-click="arrows('a-west')">
              <div class="arrow"></div>
            </div>
            <div class="circle-button east previewable" ng-click="arrows('a-east')">
              <div class="arrow"></div>
            </div>
            <div class="circle-button south previewable" ng-click="arrows('a-south')">
              <div class="arrow"></div>
            </div>
          </div>
        </div>
      </div> -->