{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="/static/styles/draw.css" />
<div class="container-col controller">
  <div class="controller-row view-holder">
    <canvas id="canvas"></canvas>
  </div>
  <div class="controller-row button-pad-holder">
    <div class="direction-pad-holder">
      <div class="direction-pad">
        <div class="center-label">x,y</div>
        <div id="north" class="circle-button north">
          <div class="arrow"></div>
        </div>
        <div id="west" class="circle-button west">
          <div class="arrow"></div>
        </div>
        <div id="east" class="circle-button east">
          <div class="arrow"></div>
        </div>
        <div id="south" class="circle-button south">
          <div class="arrow"></div>
        </div>
      </div>
    </div>
    <div class="vertical-pad-holder">
      <div class="vertical-pad">
        <div class="center-label">z</div>
        <div id="up" class="circle-button north">
          <div class="arrow"></div>
        </div>
        <div id="down" class="circle-button south">
          <div class="arrow"></div>
        </div>
      </div>
    </div>
    <div class="direction-pad-holder">
      <div class="direction-pad">
        <div class="center-label">angle</div>
        <div id="a" class="circle-button north">
          <div class="arrow"></div>
        </div>
        <div id="b" class="circle-button west">
          <div class="arrow"></div>
        </div>
        <div id="c" class="circle-button east">
          <div class="arrow"></div>
        </div>
        <div id="d" class="circle-button south">
          <div class="arrow"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="controller-row view-holder">
    <div class="action"></div>
    <div class="action"></div>
  </div>
</div>
<div class="container-col library">
  <div class="scroll up"></div>
  <div class="items">
<!--  -->
  </div>
  <div class="scroll down"></div>
</div>
{% endblock %}