{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="/static/styles/draw.css" />
<script src="/static/classes/canvas.js"></script>
<script src="/static/scripts/draw.js"></script>

<div class="page" ng-controller="draw" ng-init="init()">
  <div class="header">
    <div class="title">
      ShodoBot
    </div>
    <select ng-model="selectedPort" ng-change="config()">
      <option ng-repeat="option in ports" ng-selected="option.selected" ng-value="option">[[option]]</option>
    </select>
  </div>

  <div class="container">
    <div class="container-col controller">
      <div class="controller-row view-holder">
        <canvas id="canvas"></canvas>
      </div>
    </div>
    <div class="container-col library">
      <div class="section-title">Paint Actions</div>
      <div class="controller-row coords disabled">
        <div class="coords-title">Position</div>
        <div class="coord">
          <div class="title">x</div>
          <input class="value" type="number" ng-model="position.x" disabled />
        </div>
        <div class="coord">
          <div class="title">y</div>
          <input class="value" type="number" ng-model="position.y" disabled />
        </div>
        <div class="coord">
          <div class="title">z</div>
          <input class="value" type="number" ng-model="position.z" disabled />
        </div>
        <div class="coord">
          <div class="title">r</div>
          <input class="value" type="number" ng-model="position.r" disabled />
        </div>
        <div class="coord">
          <div class="title">phi</div>
          <input class="value" type="number" ng-model="position.phi" disabled />
        </div>
      </div>
      <div class="controller-row coords enabled">
          <div class="coords-title">Move To</div>
          <div class="coord">
            <div class="title">x</div>
            <input class="value" type="number" ng-model="position.to.x" ng-change="updateCoord('x')" />
            <!-- min="0" max="475" -->
          </div>
          <div class="coord">
            <div class="title">y</div>
            <input class="value" type="number" ng-model="position.to.y" ng-change="updateCoord('y')" />
            <!-- min="0" max="650" -->
          </div>
          <div class="coord">
            <div class="title">z</div>
            <input class="value" type="number" ng-model="position.to.z" ng-change="updateCoord('z')" />
            <!-- min="0" max="100" -->
          </div>
          <div class="coord">
            <div class="title">r</div>
            <input class="value" type="number" ng-model="position.to.r" ng-change="updateCoord('r')" />
            <!-- min="0" max="45" -->
          </div>
          <div class="coord">
            <div class="title">phi</div>
            <input class="value" type="number" ng-model="position.to.phi" ng-change="updateCoord('phi')" />
            <!-- min="0" max="360" -->
          </div>
      </div>
      <div class="controller-row main-actions">
        <div class="stroke-action submittable" ng-click="moveToCoords()">Move</div>
        <div class="stroke-action submittable" ng-click="dip()">Dip</div>
        <div class="stroke-action modifyable" ng-click="addNew()">Add New</div>
      </div>
      <div class="section-title">My Library</div>
      <div class="strokes">
        <div class="stroke" ng-repeat="stroke in strokes track by $index">
          <div class="stroke-top">
            <input class="stroke-title" type="text" ng-model="stroke.name" ng-disabled="!stroke.isEditing" />
            <div class="stroke-actions">
              <div class="stroke-action submittable" ng-click="delete(stroke)" ng-show="stroke.isEditing">Delete</div>
              <div class="stroke-action submittable" ng-click="save(stroke)" ng-show="stroke.isEditing">Save</div>
              <div class="stroke-action modifyable" ng-click="edit(stroke)" ng-hide="stroke.isEditing">Edit</div>
              <div class="stroke-action submittable" ng-click="drawStroke(stroke)">Draw</div>
              <div class="stroke-action previewable" ng-click="preview(stroke)" ng-hide="stroke.isEditing">Preview</div>
            </div>
          </div>
          <div class="edit-stroke" ng-show="stroke.isEditing">
            <textarea ng-model="stroke.body" rows="10" ng-change="bodyChange(stroke)"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}