{% extends "base.html" %} {% block content %}
<div class="button" onClick="draw('red', 'on')">Red On</div>
<div class="button" onClick="draw('yellow', 'on')">Yellow On</div>
<div class="button" onClick="draw('green', 'on')">Green On</div>
<div class="button" onClick="draw('blue', 'on')">Blue On</div>


<div class="button" onClick="draw('red', 'off')">Red Off</div>
<div class="button" onClick="draw('yellow', 'off')">Yellow Off</div>
<div class="button" onClick="draw('green', 'off')">Green Off</div>
<div class="button" onClick="draw('blue', 'off')">Blue Off</div>
{% endblock %}